{{ define "htmlHead" }}
<head>
  <title></title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="/public/css/global.css" rel="stylesheet" />
  <script src="/public/lib/htmx.min.js"></script>
  <title>{{- . -}}</title>
  <style>
    .htmxTest {
      transition: all 1s ease-in-out;
    }
    .htmxTest.htmx-swapping {
      opacity: 0;
    }

    .htmxTest.htmx-added {
      opacity: 1;
    }

    .inline-indicator {
      display: none;
    }

    .htmx-request > .default-text {
      display: none;
    }

    .htmx-request > .inline-indicator {
      display: block;
    }
  </style>
</head>
{{ end }}
