{{ define "htmlBase" }}
<!doctype html>
{{ template "htmlHead" .Title }}
<html lang="en">
  <body>
    <div class="container">
      {{ template "htmlHeader" . }}
      <main class="w--half">
        {{ template "userIdDisplay" }} {{ template "newTodoForm" }}
        <div
          id="todo-list"
          hx-get="/api/todos"
          hx-trigger="triggerLoad"
          hx-vals='js:{"userId": getOrCreateUserId()}'
          hx-swap="outerHTML"
          hx-indicator="#todos-loading"
        >
          <div id="todos-loading" class="htmx-indicator">Loading...</div>
        </div>
      </main>
      {{ template "htmlFooter" . }}
    </div>
  </body>
</html>
{{ end }}

<!-- For easier 'error handling:' -->
<!-- https://htmx.org/extensions/response-targets/ -->
